version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "9000:9000"
    environment:
      PORT: 9000


  frontend:
    build: ./client
    ports:
      - "3001:80"
    depends_on:
      - backend

  selenium:
    image: selenium/standalone-chrome
    container_name: team-sync-selenium
    ports:
      - "4444:4444"
      - "7900:7900"
    shm_size: 2gb
    depends_on:
      - frontend
    networks:
      - team-sync

networks:
  team-sync:
    driver: bridge

volumes:
  jenkins_home:/var/jenkins_home


