services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    networks:
      - team-sync

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - team-sync

  selenium:
    image: selenium/standalone-chrome
    container_name: team-sync-selenium
    ports:
      - "4444:4444"
      - "7900:7900"
    shm_size: 2gb
    depends_on:
      - frontend
    networks:
      - team-sync

  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: team-sync-jenkins
    privileged: true
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - team-sync

networks:
  team-sync:
    driver: bridge

volumes:
  jenkins_home: