services:
  backend:
    build: ./backend
    container_name: team-sync-backend
    ports:
      - "9000:9000"
    environment:
      PORT: 9000
    networks:
      - team-sync

  frontend:
    build:
      context: ./client
      args:
        VITE_API_BASE_URL: http://team-sync-backend:9000
    container_name: team-sync-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - team-sync

  selenium:
    image: selenium/standalone-chrome
    container_name: team-sync-selenium
    ports:
      - "4444:4444"
      - "7900:7900"
    shm_size: 2gb
    depends_on:
      - frontend
    networks:
      - team-sync

networks:
  team-sync:
    driver: bridge

    volumes:
  jenkins_home:

