version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "9000:9000"
    environment:
      PORT: 9000


  frontend:
    build: ./client
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
