version: "3.8"

services:
  backend:
    # ...
    environment:
      NODE_ENV: production
      PORT: 9000
      MONGO_URI: ${mongodb+srv://zohaibqazi941:URTOTiM77OculoKG@cluster0.yhs1hld.mongodb.net/}

  frontend:
    build: ./client
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
